/* MY CUSTOM APP STYLES */
body {
    background-color: #0c376d;
    color: white;
    font-family: "Segoe UI", Tahoma, sans-serif;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
