#map {
    width: 100dvw;
    height: 100dvh;
}
div.leaflet-left:has(> #map-legend) {
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}
#map-legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-left: 0;
    margin-bottom: 10px;
}
#map-legend a {
    color: white;
}
#rain-legend {
    width: 100%;
    margin-left: 0;
}
#time-legend {
    width: 100%;
    aspect-ratio: 450/24; /* value extracted from gif image size. It asumes the gif image size never change */
    overflow: hidden;
}
#time-legend img {
    width: 218.888888%; /* value extracted from gif image size. It asumes the gif image size never change */
    transform: translate(-27.106598%, -97.272727%); /* value extracted from gif image size. It asumes the gif image size never change */
    z-index: -1;
}
#marker-legend-div {
    width: 100%;
    height: 150px;
    background-color: #0c376d;
    border: solid 2px #06254c;
    border-radius: 10px;
}
#rain-gif-wrapper {
    aspect-ratio: 985/850;
    overflow: hidden;
}
#rain-gif {
    width: 100%;
}
#rain-gif-ref {
    visibility: hidden;
}
#refresh-button {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #0c376d;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}
#refresh-button:hover {
    cursor: pointer;
}
div.leaflet-left:has(> #div-refresh-button) {
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}
#div-refresh-button.refresh-button-hidden {
    top: -80px;
    transition-property: top;
    transition-duration: 300ms;
}
#div-refresh-button.refresh-button-visible {
    top: 20px;
    transition-property: top;
    transition-duration: 300ms;
}
/* For small screens: */
@media (width <= 640px) {
    #map-legend {
        width: 90dvw;
        margin-bottom: 0;
    }
    /* Hide rain blue pixels when time bar is not perfectly resized - Start */
    #time-legend {
        position: relative;
    }
    #time-legend img {
        position: relative;
    }
    #time-legend-border {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 0 1px #fff inset;
    }
    /* Hide rain blue pixels when time bar is not perfectly resized - End */

    #marker-legend-div {
        width: 100vw;
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}